.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  margin: 5px;
  font-size: 42px;
}

.search-button {
  background:  lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  margin: 5px;
}